includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
  ignoreErrors:
    - message: '#Variable static method call on Bakame\\UrlSigner\\Hmac.#'
      path: src/HmacTest.php
  reportUnmatchedIgnoredErrors: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
